<!-- TODO: add onscroll event for animation -->
<!-- TODO: update card image with own sketch -->
<section id="banner" 
[ngClass]="[animationClass, bannerAnimationEffectClass, bannerAnimationSpeed]">
    <div class="card bg-dark text-white h-100 rounded-0 d-flex justify-content-center">
        <img src="../../../../assets/banner_assets/banner_img.png" 
        class="card-img img-fluid h-100" alt="">
        <div class="banner-content card-img-overlay">
            <div [ngClass]="[animationClass, bannerContentAnimation]">
            <div class="row">
                <div class="mipc-logo-container col-lg-4">
                    <div class="container">
                        <img src="../../../../assets/banner_assets/mipc_logo_white.png" alt="" 
                        class="d-block mx-auto" height="300" width="300">
                    </div>
                </div>
                <div class="mipc-desc-text col-lg-8">
                    <div class="container">
                        <h3 class="card-title">
                            Mary Immaculate Praise Community
                        </h3>
                        <p class="card-text">
                            The English Prayer Group of Sts. Peter &amp; Paul Catholic Church, Muscat, Sultanate of Oman
                        </p>
                    </div>
                </div>
            </div>
            </div>
            <div class="banner-button" (click)="onClickEvent()">
                <svg 
                [ngClass]="[animationClass, bannerButtonAnimation]"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
                </svg>
            </div>
        </div>
    </div>
</section>

