.banner {
    position: fixed;
    display: block;
}

.banner-content {
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner-button {
    position: relative;
    margin-top: 8%;
}

.btn-outline-info {
    color: #DAC168 !important;
    border-color: transparent !important;
    background-color: transparent !important;
    border-radius: 50%;
}   

.btn-outline-info:hover {
    color: white !important;
    background-color: transparent !important;
}
