#banner {
    height: 100%;
    position: fixed;
    display: block;
}

.banner-content > div:first-child {
    margin-top: 5%;
    background-color: rgb(0, 0, 0, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 25px;
}

.mipc-desc-text {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Josefin Sans', sans-serif;
}

.card-title {
    font-weight: 700;
    letter-spacing: 2px;
}

.card-text {
    font-weight: 400;
    font-style: italic;
}

/* arrow button styles */

.btn > fa-icon {
    position: absolute;
    bottom: 5%; left: 50%;
    transform: translateX(-50%);
}

.btn > fa-icon:hover {
    filter: drop-shadow(0 6mm 1rem black);
}

.btn > fa-icon:active {
}

.btn-outline-info {
    color: #DAC168 !important;
    border-color: transparent !important;
    background-color: transparent !important;
    border-radius: 50%;
}   

.btn-outline-info:hover {
    color: white !important;
    background-color: transparent !important;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    outline: 0 !important;
    outline-offset: 0  !important;
    background-image: none  !important;
    -webkit-box-shadow: none !important;
    box-shadow: none  !important;
}
