.banner {
    overflow: hidden;
}

.banner-content {
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.banner-button {
    position: relative;
    margin-top: 10%;
}