<!-- animate__animated animate__fadeOutUp -->
<section id="banner">
    <div class="card bg-dark text-white h-100 rounded-0 d-flex justify-content-center">
        <img src="../../../../assets/banner_assets/banner_img.png" class="card-img img-fluid h-100" alt="">
        <div class="banner-content card-img-overlay">
            <div class="container p-5">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="../../../../assets/banner_assets/mipc_logo.png" alt="" 
                        class="mx-auto d-block" height="170" width="170">
                    </div>
                    <div class="col-lg-8 d-flex align-items-center">
                        <p class="card-text text-center">This is a wider card with supporting text below as a natural lead-in to additional content.
                            This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="banner-button">
                <div class="container h-100 d-flex justify-content-center">
                    <button (click)="onClickEvent()" class="btn btn-outline-info">
                        <fa-icon [icon]="faAngleDown" size="3x"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

