.show {
    display: block;
}

.btn {
    border-radius: 25px;
    color: #94001B;
    border-color: #94001B;
    fill: #94001B;
    box-shadow: 0 4px 8px 0 gray;
}

.btn:hover {
    background-color: #94001B;
    color: #DAC168;
    fill: #DAC168;
    box-shadow: 0 10px 8px 0 gray;
}

.btn:active:focus, 
.btn:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: white;
  color: #94001B;
  fill: #94001B;
  border-color: #94001B;
}
