img {
    width: 400px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.card,
.card img {
    border-radius: 15px;
    height: 400px;
}

.card-img-overlay {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    z-index: 1;
}

.card-overlay-content {
    z-index: 0;
    position: absolute;
    height: 398px;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0%;
    padding: 1rem;
    opacity: 0;
    transition: all 1s 0.2s;
}

.card-overlay-content:hover {
    opacity: 1;
}

