<section class="banner">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-5">
                    <p>Icon</p>
                </div>
                <div class="col-lg-7">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        minima aspernatur numquam esse non! Enim, exercitationem. Sed, itaque.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>
