<!-- TODO: Add anchor tags to list -->
<!-- TODO: Add collapsables for mobile design for the list -->
<footer class="">
    <div id="footerLower" class="text-white">
        <div class="pt-5 text-center">
            <!-- TODO: fix alignment to center -->
            <h4 class="pb-2">Regular Programmes</h4>
            <div class="container d-flex flex-column pb-4">
                <span class="pb-1">Thursday: Praise & Worship Service at 8pm to 9.30pm</span>
                <span class="pb-1">First Monday of the Month: Intecessory Prayer Service at 8pm to 9pm</span>
                <span class="pb-1">No Prayer meeting during the week of Adoration in the Church</span>
            </div>
            <h6 class="secondary-color">
                Note: All activities held in Ruwi Church Main Hall unless intimated
            </h6>
            <!-- TODO: Check for a good illustration idea for the empty space -->
        </div>
        <hr>
        <div class="row mx-auto p-3">
            <div class="col-lg-6">
                <div class="container text-center">
                    MIPC {{ yearFromDate | date :'yyyy' }}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="container text-center">
                    Maintained by - &copy;MIPC IT Team
                </div>
            </div>
        </div>
    </div>
</footer>
