footer {
    height: 100vh;
    z-index: 1;
}

#footer-main {
    height: 100%;
}

#footer-upper {
    height: 90%;
    font-family: 'Josefin Sans', sans-serif;
}

#footer-upper > h3 {
    font-size: 45px;
    letter-spacing: 2px;
    word-spacing: 3px;
}

#footer-lower {
    height: 10%;
    background-color: #94001B;
    font-family: 'Josefin Sans', sans-serif;
}

.primary-color {
    color: #94001B;
}

ul > li {
    list-style: none;
    padding-top: 2px;
}

ul > li:hover {
    text-decoration: underline;
    text-decoration-color: #94001B;
    color: #DAC168;
}

#social li img {
    fill: gray;
}