footer {
    z-index: 1;
}

footer h3 {
    font-size: 45px;
    letter-spacing: 2px;
    word-spacing: 3px;
}

#footer-lower {
    background-color: #94001B;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-box-shadow: 0px -2px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px -2px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px -2px 3px rgba(50, 50, 50, 0.75);
}

.primary-color {
    color: #94001B;
}

.secondary-color {
    color: #DAC168;
}

ul > li {
    list-style: none;
    padding-top: 2px;
}

ul > li:hover {
    text-decoration: underline;
    text-decoration-color: #94001B;
    color: #DAC168;
}

#social > li svg {
    fill: gray;
}

#social > li svg:hover {
    fill: #DAC168;
}

iframe {
    box-shadow: 0 3px 2px 1px grey;
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

iframe::after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

iframe:hover {
    box-shadow: 0 8px 4px 2px grey;
    -webkit-transform: scale(1.05, 1.0.5);
    transform: scale(1.05, 1.05);
}

iframe:hover::after {
    opacity: 1;
}
