footer {
    z-index: 1;
}

#footer-upper {
    font-family: 'Josefin Sans', sans-serif;
}

#footer-upper > h3 {
    font-size: 45px;
    letter-spacing: 2px;
    word-spacing: 3px;
}

#footer-lower {
    background-color: #94001B;
    font-family: 'Josefin Sans', sans-serif;
}

.primary-color {
    color: #94001B;
}

ul > li {
    list-style: none;
    padding-top: 2px;
}

ul > li:hover {
    text-decoration: underline;
    text-decoration-color: #94001B;
    color: #DAC168;
}

#social > li svg {
    fill: gray;
}

#social > li svg:hover {
    fill: #DAC168;
}

.show {
    display: block;
}

.btn {
    border-radius: 25px;
}
