<!-- <section id="slider">slide</section>

<section id="aboutUs" class="text-center">
    about
</section>

<section id="activities">activites</section>
-->

<section id="coreTeam">
<!-- TODO: create separate reusable card component which takes img-src, name and desc as params -->
<div class="d-flex">
    <app-feature-card 
    [cardTitle]="'Blaise Rodrigues'"
    [cardDesc]="'Lorem ipsum dolor set amit.'"
    [imgSrc]="'../../../assets/mipc_logo.png'">
    </app-feature-card>
    
    <app-feature-card 
    [cardTitle]="'Carlton Rodrigues'" 
    [cardDesc]="'Dorem ilsum solor dot amet.'"
    [imgSrc]="'../../../assets/mipc_logo.png'">
    </app-feature-card>
</div>
</section>

<section id="sendMessage">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 img-background">
                <div class="">
                    <h3>Reach <span class="primary-color">out!</span></h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- TODO: add email validation to send message form -->
                <app-send-message-form></app-send-message-form>
            </div>
        </div>
    </div>
</section>