<section id="slider">
    slider
</section>
<!--
<section id="activities">
    activites use parallax here
</section>
-->

<section id="aboutUs">
    <div class="core-team center-vertically">
        <h3 class="pl-4">Meet the 
            <span class="primary-color">awesome</span> 
            people who make 
            <span class="primary-color">things</span> work</h3>
        <div (scroll)="scrollEvent(cardList, $event)"
        class="card-container ml-2 mr-2 pb-2" #cardList>
            <ng-container *ngFor='let property of cardData'>
                <app-feature-card 
                [cardName]="property.cardName"
                [cardTitle]="property.cardTitle"
                [cardDesc]="property.cardDesc"
                [imgSrc]="property.imgSrc">
                </app-feature-card>
            </ng-container>
        
            <div id="left" *ngIf="showLeftButton(cardList)" 
            (click)="scrollCardsHorizontallyLeft(cardList)">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                    <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                </svg>
            </div>

            <div id="right" *ngIf="showRightButton(cardList)"
            (click)="scrollCardsHorizontallyRight(cardList)">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24">
                    <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
                </svg>
            </div>
        </div>
    </div>
</section>

<section id="sendMessage">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 img-background">
                <div class="">
                    <h3>Reach <span class="primary-color">out!</span></h3>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- TODO: add email validation to send message form -->
                <app-send-message-form></app-send-message-form>
            </div>
        </div>
    </div>
</section>