<section id="slider">slide</section>

<section id="aboutUs" class="text-center">
    <h3 class="">Know <span class="primary-color">us</span> better</h3>
    <div class="container">
        <hr>
        <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Libero hic perferendis amet minus excepturi facilis autem animi. Qui, rem tempora!</h6>
    </div>
</section>

<section id="activities">act</section>

<section id="coreTeam">team</section>

<section id="sendMessage">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h3>Message us</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-lg-4">
                <app-send-message-form></app-send-message-form>
            </div>
        </div>
    </div>
</section>