h6 {
    font-size: 20px;
    letter-spacing: 1px;
}

#sendMessage, 
#aboutUs {
    height: 100vh;
    width: 100%;
}

.card-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

#aboutUs {
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0px
}

#sendMessage > .container {
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img-background {
    background-image: url('../../../assets/home_assets/send_message.png');
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 200px 250px;
}

app-feature-card {
    padding-left: 2rem;
}

svg {
    fill: #DAC168;
    transition: all 200ms;
}

svg:hover {
    transform: scale(1.1, 1.1);
}

svg:active {
    transform: scale(1, 1);
}

#left {
    position: absolute;
    top: 50%;
}

#right {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateX(-100%);
}

/* TODO: highlighted note for parallax css styling
.parallax {
  The image used
  background-image: url("img_parallax.jpg");

  Set a specific height
  height: 500px;

  Create the parallax scrolling effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

more parallax ref : https://www.w3schools.com/howto/howto_css_parallax.asp#:~:text=Parallax%20scrolling%20is%20a%20web,with%20and%20without%20parallax%20scrolling

*/