#coreTeam .selector-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

/* TODO: add active pseudo class property */
#coreTeam .team-selector {
    font-size: 30px;
    min-width: 400px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

#coreTeam .card-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

#coreTeam {
    scrollbar-width: 0px;
}

#coreTeam app-feature-card {
    padding-left: 2rem;
}

#coreTeam svg {
    fill: #DAC168;
    transition: all 200ms;
}

#coreTeam svg:hover {
    transform: scale(1.1, 1.1);
}

#coreTeam svg:active {
    transform: scale(1, 1);
}

#coreTeam #left {
    position: absolute;
    top: 50%;   
    z-index: 2;
}

#coreTeam #right {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateX(-100%);
    z-index: 2;
}

*::-webkit-scrollbar {
    width: 0px
}

#sendMessage {
    padding: 6rem 2rem 6rem 2rem;
}

#sendMessage .img-background {
    background-image: url('../../../assets/home_assets/send_message.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 200px 250px;
}

#photoGallery .back-drop {
    background-color: lightgray;
    min-height: 400px;
    z-index: 0;
}

#photoGallery img {
    z-index: 1;
    position: relative;
    width: 100%;
    max-width: 100%;
    transform: scale(1.25, 1.25)
                translateY(30%);
    transform-origin: center;
}


/* TODO: highlighted note for parallax css styling
.parallax {
  The image used
  background-image: url("img_parallax.jpg");

  Set a specific height
  height: 500px;

  Create the parallax scrolling effect
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 

more parallax ref : https://www.w3schools.com/howto/howto_css_parallax.asp#:~:text=Parallax%20scrolling%20is%20a%20web,with%20and%20without%20parallax%20scrolling

*/